---
- name: k3s Setup
  tags:
    - k3s_setup
  hosts: k3s_servers
  vars:
    pip_install_packages:
      - name: docker
    k3s_build_cluster: true
  become: true
  roles:
    - k3s_setup

- name: k3s startup
  tags:
    - k3s_startup
  hosts: control_plane
  become: true
  roles:
    - k3s_startup